body 
{
  font-family: 'Times New Roman', Times, serif;
}

table
{
  border: 2px solid black;
  width: 800px;
  border-collapse: collapse;
}

tr.tab
{
  background-color: rgb(19, 141, 216);
}

tr.primeiro
{
  background-color: rgb(255, 194, 38);
}

.segundo 
{
  background-color: rgb(189, 189, 189);
}

tr.terceiro
{
  background-color: rgb(161, 118, 91);
}

td
{
  border: 1px solid black;
  padding: 6px;
}

img{
  
   width : 5%;

}